
    table {
        border: solid 1px #000;
        text-align: center;
        width: 100%;
        border-collapse: collapse;
    }

    td {

        border: solid 1px #000;
        text-align: center;
    }