
    table {
        border: solid 1px #000;
        text-align: center;
        width: 100%;
        border-collapse: collapse;
    }

    td {

        border: solid 1px #000;
        text-align: center;
    }
	#commands {
		position: absolute;
		top: 200px;
		left: 300px;
	}
	#comments {
		position: absolute;
		top: 200px;
		left: 800px;
	}